<footer class="navbar-fixed-bottom">
    <div class="containerz">
        <div class="pull-right links">
            <a href="https://developer.bazaarvoice.com/forum" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
            <a class="openAbout" href="#" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> About</a>
            <a href="https://developer.bazaarvoice.com/" target="_blank"><span class="glyphicon glyphicon-home"></span> Developer Portal</a>
        </div>
    </div>
</footer>