footer.navbar-fixed-bottom
    .containerz
        .pull-right.links
            a(href='https://developer.bazaarvoice.com/forum' target='_blank')
                <span class="glyphicon glyphicon-question-sign"></span> Help
            
            a(class='openAbout' href='#' target='_blank')
                <span class="glyphicon glyphicon-info-sign"></span> About

            a(href='https://developer.bazaarvoice.com/' target='_blank')
                <span class="glyphicon glyphicon-home"></span> Developer Portal

script(src='https://apps.bazaarvoice.com/deployments/Agileville/main_site/production/en_US/bv.js')