<header>
    <div class="inner">
        <div class="container">
            <h1>
                <a class="brand" href="#top">
                    <img src="images/logo.png" alt="bazaarvoice:">
                    <span>Conversations API Analytics Kit</span>
                </a>
            </h1>
        </div>
        <div class="info_box_container">
            <a href="https://github.com/bazaarvoice/api-analytics/blob/master/README.md" target="_blank">
                <div class="info_box"></div>
            </a>
        </div>
    </div>
</header>