header
    .inner
        .container
            h1
                a(class='brand' href='#top')
                    img(src='images/logo.png' alt='bazaarvoice:conversation API Analytics')
                    span Conversations API Analytics Kit
