.js-review-pagination-bottom
    .review-pagination.js-review-pagination
        .paginator-list.pull-left
            ul
                li
                    a(href="#reviews" role="button" class="js-pagination link active" bveventtype="pagination" data-page="1") 1
                li
                    <a href="#reviews" role="button" class="js-pagination link" bveventtype="pagination" data-page="2">2</a>
                li
                    <a href="#reviews" role="button" class="js-pagination link" bveventtype="pagination" data-page="3">3</a>
                li
                    <a href="#reviews" role="button" class="js-pagination link" bveventtype="pagination" data-page="4">4</a>
                li
                    <a href="#reviews" role="button" class="js-pagination link" bveventtype="pagination" data-page="5">5</a>
                li
                    <a href="#reviews" role="button" class="js-pagination link" bveventtype="pagination" data-page="6">6</a>
                li
                    <a href="#reviews" role="button" class="js-pagination link" bveventtype="pagination" data-page="9">9</a>
        .review-stats.copy-small.pull-right
            span 1 of 355 total reviews
            a.js-reviews-see-all.arrow-link(href="#reviews" bveventtype="pagination" data-page="seeAll" id="WMItemSeeAllRevLnk") See all