.grid.product_description
    .col12
        .Grid-col.u-size-6-12-m.u-size-7-12-l
            .Grid
                .Grid-col.product-media-placeholder-section
                    h1.heading-b.product-name.product-heading.js-product-heading Product Headline
                    .product-subhead
                        .product-subhead-section-stars
                            .stars hide-content.display-inline-l
                                a(class='js-product-anchor display-block' href='#reviews' id='WMItemRevLnk')
                                    i(class="star star-rated" data-bvAnalytics="Stars_1")
                                    i(class="star star-rated" data-bvAnalytics="Stars_2")
                                    i(class="star star-rated" data-bvAnalytics="Stars_3")
                                    i(class="star star-rated" data-bvAnalytics="Stars_4")
                                    i(class="star star-empty" data-bvAnalytics="Stars_5")
                                    span(class='visuallyhidden') 4.0 stars
                        
                        .product-subhead-section
                            a(class='js-product-anchor' href='#reviews' data-bvAnalytics='ReviewCount_PRS') 357 reviews
                            span.visuallyhidden ratings

                        .product-subhead-section.hide-content.display-inline-s
                            a(class='js-product-anchor' href='#qa' id='WMItemQALnk') Q&amp;A
                        
                        .product-subhead-section.hide-content.display-inline-s By: 
                            a(class='js-product-brand product-brand' href='#brand' id='WMItemBrandLnk') Some Brand
                        .product-subhead-section.product-subhead-walmartnumber
                            span.wm-bold SKU #: 550151681
                        
                    .js-product-media
                        .product-media.js-product-media.clearfix
                            .Grid
                                .Grid-col.u-size-10-12-l.js-hero-image-container
                                    .product-images.js-product-images
                                        .product-images-viewport.js-viewport
                                            img(src='images/beer.jpg' style='height:100%;')