.js-review-summary-header.review-summary-header(data-view-cid="view35")
    h2.visuallyhidden Customer Reviews | 355 reviews | 3.8 out of 5
    .review-summary.Grid
        .Grid-col.u-size-9-12-m
            .Grid.Grid--gutters
                .Grid-col.u-size-8-12-m
                    .Grid-col.u-size-1-2.stars.stars-large.pull-left.hide-content.display-inline-block-m(itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating") 
                        i.star.star-rated
                        i.star.star-rated
                        i.star.star-rated
                        i.star.star-rated
                        i.star.star-empty
                        p.heading-e
                            span(itemprop="ratingCount") 355
                            | &nbsp; reviews | 
                            span(itemprop="ratingValue") 3.8
                            | &nbsp; out of 
                            span(itemprop="bestRating") 5
                    .review-histogram.pull-left
                        .review-histogram-wrapper
                            .js-rating-filter.rating-filter(data-value="rating:eq:5")
                                .meter-inline 5 stars
                                .meter.histogram
                                    span.meter-bar(style="width: 53%")
                                span.rating-val 165

                            .js-rating-filter.rating-filter(data-value="rating:eq:4")
                                .meter-inline 4 stars
                                .meter.histogram
                                    span.meter-bar(style="width: 53%")
                                span.rating-val 93

                            .js-rating-filter.rating-filter(data-value="rating:eq:3")
                                .meter-inline 3 stars
                                .meter.histogram
                                    span.meter-bar(style="width: 53%")
                                span.rating-val 22

                            .js-rating-filter.rating-filter(data-value="rating:eq:2")
                                .meter-inline 2 stars
                                .meter.histogram
                                    span.meter-bar(style="width: 53%")
                                span.rating-val 16
                            .js-rating-filter.rating-filter(data-value="rating:eq:1")
                                .meter-inline 1 stars
                                .meter.histogram
                                    span.meter-bar(style="width: 53%")
                                span.rating-val 59
                .Grid-col.u-size-4-12-m.percentage-indicator-text-wrapper.hide-content.display-inline-block-m
                    .meter
                        span.meter-bar(style="width: 75%")
                            b(class="meter-text") 75%
                    span.percentage-indicator-text Would recommend to a friend
        .Grid-col.u-size-3-12-m
            a(href="#reviews" class="js-write-review btn pull-right" id="WMItemWriteReviewLnk") Write a review