.js-review-list
    .Grid.customer-review.js-customer-review(data-content-id="14897106" data-view-cid="view39" data-model-cid="c40")
        .Grid-col.u-size-8-12-m.customer-review-body
            .Grid
                .Grid-col.u-size-10-12-m.customer-review-title Excellent for the price
                span.Grid-col.u-size-2-12-m.customer-review-date.hide-content.display-inline-block-m 6/10/2015
            
            h3.visuallyhidden Customer review by BazaarVoice Developer
            .stars customer-stars
                span.visuallyhidden 5.0 stars
                span.customer-review-date.hide-content-m 9/13/2013
                span.customer-name.hide-content.display-inline-block-m by 
                    span.customer-name-heavy BazaarVoice Developer
            
            .customer-name hide-content-m by
                span.customer-name-heavy BazaarVoice Developer
            
            .customer-review-text
                p.js-customer-review-text(data-max-height="110")
                .ellipsis-content.module Purchased this item when my larger one died. I was a little hesitant because of the size which was much smaller than my old one, but have found it to be quite adequate. I decided on this model for 3 reasons. The reputable brand. The good reviews and most important, the ease of opening . There is no button to push that will wear out. I have been using this for about 2 months now and find it to be an exceptional value. It even reminds me when I forget something. The timer can be used at the same time you cook which was very nice to find. It heats quickly so quickly in fact I have found it takes much less time than my larger one did and have had to adjust the times on some things..it also cooks and heats more evenly. The control panel is flat. Easy to clean and is relatively quiet. Over all I am very pleased with the purchase. I will purchase it again if it is still available when I need another new one. I highly recommend this item. It is a great deal for the money. It also arrived 5 days ahead of schedule.
                
                .js-ellipsis-read-more.ellipsis-read-more
                    a(href="#" id="readMore" bveventtype="expand-retract" data-value="more") Read more
                
            .btn-vote-group.js-btn-vote-group.customer-review-voting.hide-content.display-inline-block-m
                span.btn-vote-heading Was this review helpful?
                button(type="button" class="btn btn-vote js-btn-vote-yes" bveventtype="votingHelpfulness" data-value="yes" id="helpfulness-btn-yes")
                    i.btn-vote-up
                    | Yes
                
                span.btn-vote-count (
                    span.js-vote-positive-count 165
                | ) 

                button.btn.btn-vote.js-btn-vote-no(type="button" bveventtype="votingHelpfulness" data-value="no" id="helpfulness-btn-no")
                    i.btn-vote-down
                    | No
                
                span.btn-vote-count (
                    span.js-vote-negative-count 4
                | )
                
                button.btn.btn-link.customer-review-report-btn.js-btn-report.pull-right(id="reports_btn" data-value="report" bveventtype="modal")
                    i.wmicon.wmicon-flag
                | Report
        .Grid-col.u-size-4-12-m.customer-info.hide-content.display-inline-block-m
            div BazaarVoice Developer
            .customer-location Austin, Texas
            .customer-attributes
                div Would recommend to a friend? 
                    span Yes
                div Age:
                    span 25 - 34
                div Ownership:
                    span 2 - 3 months
                div Gender:
                    span Male
                div Usage:
                    span Every day
            
            .review-badges-container
                .review-badge#badge(bveventtype="modal")
                    i.wmicon.wmicon-user
                    | Staff