#CGC_Container.see-all-reviews
    <form class="review-list js-review-scroll-to">
        include review_summary.pug

        .js-review-content-list(data-view-cid="view37")
            include filters.pug           
            include review.pug
            include pagination.pug
    </form>