html
  head
    title= title
    style
        include ../public/css/main.css
        include ../public/css/histogram.css
        include ../public/css/fonts.css
    
    script
        include ../public/js/main.js


  body
    include includes/header.pug

//TO DO
    //GET THE BODY



    include includes/footer.pug
